ngx-loading-bar div#loading-bar .bar {
    height: 4px;
}

.response {
    font-family: Consolas, monospace;

    h4 {
        font-size: 100%;
        font-weight: bold;
    }

    pre {
        font-family: Consolas, monospace;
        font-size: 0.9rem;
    }
}

.disabled button {
    background-color: #ccc !important;
    pointer-events: none;
}

.brand-logo {
    font-family: Impact, "Roboto", sans-serif;
}

.page-footer {
    a:hover {
        text-decoration: underline;

        &.grey-text {
            color: #bdbdbd !important;

            &.text-lighten-1 {
                color: #cdcdcd !important;
            }

            &.text-lighten-4 {
                color: #fff !important;
            }
        }
    }
}

.clipping {
    overflow: hidden;
}

ul.autocomplete-content.dropdown-content {
    position: absolute;
    min-width: 100%;
    max-height: 50vh;
}
