<!DOCTYPE html>
<html>
<head>
    <title>Whois ASP.NET</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="content/materialize.min.css" rel="stylesheet" />
    <link href="content/site.min.css" rel="stylesheet" />
    <base href="/">
</head>

<body ng-app="app" ng-controller="mainController as ctrl" ng-cloak>
    <nav class="grey darken-2" role="navigation">
        <div class="nav-wrapper container">
            <div id="logo-container" class="brand-logo">Whois ASP.NET</div>
            <ul class="right">
                <li><a target="_blank" href="swagger/ui/index">API Document</a></li>
            </ul>
        </div>
    </nav>

    <div class="container section">
        <div class="row">
            <form name="queryform" class="col s12 m6 l5" ng-submit="ctrl.executeQuery(queryform.$valid)" novalidate>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="query" ng-model="ctrl.query" placeholder="Domain or IP Address to query" required/>
                        <label for="query">Query</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="server" ng-model="ctrl.server" placeholder="(optional) Host name or IP Address of whois server"/>
                        <label for="server">Whois server</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select ng-model="ctrl.encoding" ng-options="encoding for encoding in ctrl.encodings"></select>
                        <label>Encoding</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12" ng-class="{disabled:queryform.$invalid}">
                        <button type="submit" class="blue btn btn-large waves-effect waves-light col s12">query</button>
                    </div>
                </div>
            </form>

            <div class="col s12 m6 l7 response">
                <label>Response</label>
                <div ng-show="ctrl.response.Raw != null">
                    <h4>Responded servers</h4>
                    <div>{{ctrl.response.RespondedServers.join(' > ')}}</div>
                    <h4>IP address range</h4>
                    <div>{{ctrl.response.AddressRange.Begin}} - {{ctrl.response.AddressRange.End}}</div>
                    <h4>Organization name</h4>
                    <div>{{ctrl.response.OrganizationName}}</div>
                    <h4>Raw response text</h4>
                    <pre>{{ctrl.response.Raw}}</pre>
                </div>            </div>
        </div>
    </div>

    <footer class="page-footer grey darken-2">
        <div class="container">
            <div class="row">
                <div class="col s12 grey-text">
                    <p>
                        GNU GPL v2 | Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="scripts/jquery-2.2.0.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-resource.min.js"></script>
    <script src="scripts/angular-cookies.min.js"></script>
    <script src="scripts/materialize.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
