<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="content/site.min.css" rel="stylesheet" />
</head>
<body ng-app="app" ng-controller="mainController as ctrl" ng-cloak>
    <div>
        <input type="text" id="query" ng-model="ctrl.query" />
    </div>
    <div>
        <input type="text" id="server" ng-model="ctrl.server" />
    </div>
    <div>
        <select ng-model="ctrl.encoding" ng-options="encoding for encoding in ctrl.encodings"></select>
    </div>

    <div>
        <button ng-click="ctrl.executeQuery()">
            query
        </button>
    </div>

    <div>
        <div>{{ctrl.response.RespondedServers.join(' > ')}}</div>
        <div>{{ctrl.response.OrganizationName}}</div>
        <div>{{ctrl.response.AddressRange.Begin}}</div>
        <div>{{ctrl.response.AddressRange.End}}</div>
        <pre>{{ctrl.response.Raw}}</pre>
    </div>

    <script src="scripts/jquery-2.2.0.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-resource.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
