[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
}

.response {
    font-family: Consolas, monospace;

    h4 {
        font-size: 100%;
        font-weight: bold;
    }

    pre {
        font-family: Consolas, monospace;
        font-size: 0.9rem;
    }
}
