[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.response {
  font-family: Consolas, monospace; }
  .response h4 {
    font-size: 100%;
    font-weight: bold; }
  .response pre {
    font-family: Consolas, monospace;
    font-size: 0.9rem; }

.disabled button {
  background-color: #ccc !important;
  pointer-events: none; }

