@page
@using Microsoft.Extensions.Configuration
@namespace WHOISClientWebApp.Pages
@model IndexModel
<!DOCTYPE html>
<html>

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title>WHOIS Client Web App/API</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="twitter:card" content="summary">
    <meta property="og:title" content="WHOIS Client Web App/API" />
    <meta property="og:url" content="@Model.SiteBase/" />
    <meta property="og:description" content="This site allows you to look up WHOIS information on Web browser, and also provide &quot;CORS&quot; enabled Web API endpoint - Powered by ASP.NET WebAPI" />
    <meta property="og:image" content="@Model.SiteBase/content/images/ogpimage.png" />
    <meta name="keywords" content="WHOIS WebAPI API" />
    <meta name="description" content="This site allows you to look up WHOIS information on Web browser, and also provide &quot;CORS&quot; enabled Web API endpoint - Powered by ASP.NET WebAPI" />

    <link rel="apple-touch-icon" sizes="57x57" href="/content/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/content/icons/apple-touch-icon-60x60.png">
    <link rel="icon" type="image/png" href="/content/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/content/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/content/icons/manifest.json">
    <link rel="mask-icon" href="/content/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/content/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Whois Client WebApp">
    <meta name="application-name" content="Whois Client WebApp">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/content/icons/browserconfig.xml">
    <meta name="theme-color" content="#f0f0f0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="content/materialize.min.css" rel="stylesheet" />
    <link href="content/site.css" rel="stylesheet" />
    <base href="/">
</head>

<body ng-app="app" ng-controller="mainController as ctrl" ng-cloak>
    <div class="clipping">
        <nav class="grey darken-2" role="navigation">
            <div class="nav-wrapper container">
                <div id="logo-container" class="brand-logo">WHOIS Client Web App/API</div>
            </div>
        </nav>

        <div class="container section">
            <div class="row">
                <form name="queryform" class="col s12 m6 l5" ng-submit="ctrl.executeQuery(queryform.$valid)" novalidate>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" id="query" ng-model="ctrl.query" placeholder="Domain or IP Address to query" required />
                            <label for="query">Query</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" id="server" ng-model="ctrl.server" placeholder="(optional) Host name or IP Address of whois server" />
                            <label for="server">Whois server</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="encoding" id="encoding" ng-model="ctrl.encoding" class="autocomplete" />
                            <label for="encoding">Encoding</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12" ng-class="{disabled:queryform.$invalid}">
                            <button type="submit" class="blue btn btn-large waves-effect waves-light col s12">query</button>
                        </div>
                    </div>
                </form>

                <div class="col s12 m6 l7 response">
                    <label>Response</label>
                    <div ng-show="ctrl.response.Raw != null">
                        <h4>Responded servers</h4>
                        <div>{{ctrl.response.RespondedServers.join(' > ')}}</div>
                        <h4>IP address range</h4>
                        <div>{{ctrl.response.AddressRange.Begin}} - {{ctrl.response.AddressRange.End}}</div>
                        <h4>Organization name</h4>
                        <div>{{ctrl.response.OrganizationName}}</div>
                        <h4>Raw response text</h4>
                        <pre>{{ctrl.response.Raw}}</pre>
                    </div>
                </div>
            </div>
        </div>

        <footer class="page-footer grey darken-2">
            <div class="container">
                <div class="row">
                    <div class="col m4 s12">
                        <h5 class="grey-text text-lighten-1">API</h5>
                        <ul>
                            <li>
                                <a target="_blank" class="grey-text" href="swagger">API document</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col m4 s12">
                        <h5 class="grey-text text-lighten-1">Powered by</h5>
                        <ul>
                            <li>
                                <a target="_blank" class="grey-text text-lighten-1" href="https://www.nuget.org/packages/WhoisClient.NET/">
                                    <span>WhoisClient.NET</span>
                                    <img src="https://img.shields.io/nuget/v/WhoisClient.NET.svg" alt="WhoisClient.NET NuGet Package latest version" />
                                </a>
                            </li>
                            <li><a target="_blank" class="grey-text" href="https://docs.microsoft.com/en-us/aspnet/core/#build-web-apis-and-web-ui-using-aspnet-core-mvc">ASP.NET Core Web API</a></li>
                            <li><a target="_blank" class="grey-text" href="https://www.nuget.org/packages/Swashbuckle.AspNetCore/">Swashbuckle.AspNetCore</a></li>
                            <li><a target="_blank" class="grey-text" href="http://www.typescriptlang.org/">TypeScript</a></li>
                            <li><a target="_blank" class="grey-text" href="https://angularjs.org/">AngularJS v.1.x</a></li>
                            <li><a target="_blank" class="grey-text" href="http://materializecss.com/">Materialize</a></li>
                        </ul>
                    </div>
                    <div class="col m4 s12">
                        <h5 class="grey-text text-lighten-1">Docker image</h5>
                        <ul>
                            <li>
                                <a target="_blank" class="grey-text" href="https://hub.docker.com/r/jsakamoto/whoisclientwebapp/">on Docker Hub</a>
                            </li>
                        </ul>
                        <div>
                            <a href="https://twitter.com/share" class="twitter-share-button" {count} data-size="large" data-url="@Model.SiteBase" data-text="WHOIS Client Web App/API - look up WHOIS information via Web Browser UI or any HTTP clients -">Tweet</a>
                            <script>
                                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    GNU GPL v2 | Source code on <a target="_blank" class="grey-text text-lighten-4" href="https://github.com/jsakamoto/WHOISClientWebApp/">GitHub</a>
                </div>
            </div>
        </footer>
    </div>
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/materialize.min.js"></script>
    <script src="bundle.js"></script>
</body>

</html>